In [2]:
# Add the Pandas dependency.
import pandas as pd
import os

In [3]:
# File to load
vine_csv= "vine_table1.csv"

In [5]:
# read vine table csv
vine_table_df = pd.read_csv(vine_csv)
vine_table_df

/var/folders/wn/64qklcyd5_772k9m03mf_3tr0000gn/T/ipykernel_58538/3056997150.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vine_table_df = pd.read_csv(vine_csv)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
5115661,RZ7RZ02MTP4SL,5,10.0,10.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115664,R3SFJLZE09URWM,5,10.0,10.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [6]:
vine_table_df.dtypes

review_id             object
star_rating           object
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [7]:
helpful_reviews_df = vine_table_df[vine_table_df['total_votes'] >= 20]
helpful_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [8]:
helpful_reviews_df.dtypes

review_id             object
star_rating           object
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [9]:
reliable_votes = helpful_reviews_df.loc[(helpful_reviews_df['helpful_votes']/helpful_reviews_df['total_votes'] >= 0.5)]
reliable_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [10]:
paid_reviews_df = reliable_votes.loc[(reliable_votes['vine'] == "Y")]
paid_reviews_df.count()

review_id            647
star_rating          647
helpful_votes        647
total_votes          647
vine                 647
verified_purchase    647
dtype: int64

In [12]:
unpaid_reviews_df = reliable_votes.loc[(reliable_votes['vine'] == "N")]
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N
...,...,...,...,...,...,...
5115658,R3SHWVR8GO9WK4,5,26.0,26.0,N,N
5115659,R2KNC11QJB7V5U,5,30.0,34.0,N,N
5115662,R2IRC0IZ8YCE5T,3,23.0,23.0,N,N
5115663,R1U4ZSXOD228CZ,5,89.0,97.0,N,N
5115665,R1MEWK4I7YS5XK,5,23.0,23.0,N,N

In [13]:
total_reviews_df = reliable_votes.count()
print (total_reviews_df)

review_id            74760
star_rating          74760
helpful_votes        74760
total_votes          74760
vine                 74760
verified_purchase    74760
dtype: int64

In [14]:
five_star_df = reliable_votes.loc[(reliable_votes['star_rating'] == "5")]
five_star_df.count()

review_id            606
star_rating          606
helpful_votes        606
total_votes          606
vine                 606
verified_purchase    606
dtype: int64

In [15]:
paid_fivestar = five_star_df.loc[(five_star_df['vine'] == "Y")]
paid_fivestar.count()

review_id            1
star_rating          1
helpful_votes        1
total_votes          1
vine                 1
verified_purchase    1
dtype: int64

In [16]:
five_star_all = five_star_df.count()
vine_five = paid_fivestar.count()
perc_paid = vine_five/five_star_all*100
perc_paid

review_id            0.165017
star_rating          0.165017
helpful_votes        0.165017
total_votes          0.165017
vine                 0.165017
verified_purchase    0.165017
dtype: float64

In [17]:
unpaid_fivestar = five_star_df.loc[(five_star_df['vine'] == "N")]
unpaid_fivestar.count()

review_id            605
star_rating          605
helpful_votes        605
total_votes          605
vine                 605
verified_purchase    605
dtype: int64

In [18]:
five_star_all = five_star_df.count()
novine_five = unpaid_fivestar.count()
perc_unpaid = novine_five/five_star_all*100
perc_unpaid

review_id            99.834983
star_rating          99.834983
helpful_votes        99.834983
total_votes          99.834983
vine                 99.834983
verified_purchase    99.834983
dtype: float64